body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
  color: orange;	
}

.targetHit{
	background-color: orange;
	color: blue;
}

a {
  color: #00B7FF;
}

.hidden{
	display: none;
}
.visible{
	display: block;
}
#target {
	width:300px;
	height:300px;
	
	position: static;
}

p{
	font-family: 'Avant Garde', Avantgarde, sans-serif;
}

h1{
	font-family: 'Avant Garde', Avantgarde, sans-serif;
}

#nameButt{
	background-color: white;
	border: none;
	color: purple;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	fontsize: 16px;
}

#nameSlot{
	padding: 15px 45px;
	border: none;
	text-align: left;
}

ol{
	font-family: 'Avant Garde', Avantgarde, sans-serif;
	background-color: hsla(100, 0%, 100%, .3);
	padding 20px;	
}



